/* Custom CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.header {
  background-color: #f8f9fa;
  padding: 20px 0;
  border-bottom: 2px solid #800000; /* Dark red border */
}
.header-logo {
  height: 80px;
}
.header-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin: 0;
}
.header-subtitle {
  font-size: 0.9rem;
  color: #7a6d37; /* Gold text color */
}
.top-nav {
  font-size: 0.85rem;
  color: #800000;
  text-transform: uppercase;
  margin-bottom: 0;
}
.top-nav a {
  color: #800000;
  text-decoration: none;
  margin-right: 10px;
}
.top-nav a:hover {
  text-decoration: underline;
}
.faculty-nav {
  background-color: #800000;
  color: white;
  font-size: 0.9rem;
}
.faculty-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}
.faculty-nav a:hover {
  background-color: #b3b1b1;
}

.icon-box {
  text-align: center;
  color: #5a5a5a;
}
.icon-box img {
  max-width: 60px;
  margin-bottom: 10px;
}
.icon-box p {
  margin: 0;
}
